<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Catalogo de Productos TEST.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1732A871D9A382805A52D062808538715EA7F3E3</string>
				<key>dateExpires</key>
				<string>26-03-19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BCF22M42W7.com.thyssenkrupp.test.tkecatalogo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BCF22M42W7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Catalogo de Productos TEST.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f8f46071-c041-4315-87b8-fd79be0f01a5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.thyssenkrupp.test.tkecatalogo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BCF22M42W7</string>
				<key>name</key>
				<string>thyssenkrupp elevadores S.A</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
