
<ion-view>
  <ion-nav-title>
      <div class="logoIcon">Inicio</div>
  </ion-nav-title>

  <ion-content>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2>Catálogo de Productos</h2>
          <!-- <p>Selecciona uno de los servicios</p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#/app/cat" class="button button-block icon-right ion-chevron-right button-balanced">Catálogo de Productos</a>
      </div>
    </div>
  </ion-content>
</ion-view>
